<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abbiya.broadr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.abbiya.broadr.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.abbiya.broadr.permission.C2D_MESSAGE" />

    <application
        android:name="com.abbiya.broadr.BroadrApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.abbiya.broadr.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.abbiya.broadr" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.abbiya.broadr.receivers.NotificationServiceStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.abbiya.broadr.gcm.GcmIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.abbiya.broadr.activities.BaseActivity"
            android:label="@string/title_activity_base" />
        <activity
            android:name="com.abbiya.broadr.activities.BootupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.abbiya.broadr.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.abbiya.broadr.activities.SearchResultsActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.abbiya.broadr.activities.DetailedViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_detailed_view"
            android:parentActivityName="com.abbiya.broadr.activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abbiya.broadr.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.abbiya.broadr.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.abbiya.broadr.activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abbiya.broadr.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.abbiya.broadr.activities.SearchResultsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_search_results"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName="com.abbiya.broadr.activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abbiya.broadr.activities.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name="com.abbiya.broadr.provider.SuggestionsProvider"
            android:authorities="com.abbiya.broadr.provider.SuggestionsProvider" />

        <service android:name="com.abbiya.broadr.service.NotificationService" />
    </application>

</manifest>
